$almost-black: rgb(30, 30, 30);

body {
    background: linear-gradient(to bottom right, whitesmoke, rgb(81, 101, 102)) fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: $almost-black;
}

.app {
    background-color: rgb(68, 152, 201);
    margin: 20px 15px;
    padding: 10px 0px;
    border: 1px solid $almost-black;
    border-radius: 5px;
    text-align: center;
}