$almost-black: rgb(30, 30, 30);

body {
    background: linear-gradient(to bottom right, whitesmoke, rgb(81, 101, 102)) fixed;
    padding: 2% 1% 0% 1%;
    font-family: Arial, Helvetica, sans-serif;
    color: $almost-black;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(68, 152, 201);
    margin-bottom: 20px;
    border: 1px solid $almost-black;
    border-radius: 5px;
}

header>h1 {
    margin: 15px 0px 0px 0px;
}

header>nav {
    align-self: flex-start;

    display: flex;
    flex-flow: row wrap;

    padding-right: 15px;
}

header>nav>span {
    margin: 10px 0px 10px 15px;
    padding: 4px 6px;
    border: 1px solid $almost-black;
    border-radius: 5px;
    background-color: rgb(168, 215, 243);
}

main {
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
    border-radius: 5px;
    padding: 15px 10px;
    margin-bottom: 20px;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    border-top: 1px solid darkgray;
    padding: 15px 10px;
}